* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Astonia';
    src: url('/fonts/astonia-webfont.woff2') format('woff2'),
         url('/fonts/astonia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilda';
    src: url('/fonts/gildadisplay-regular1-webfont.woff2') format('woff2'),
         url('/fonts/gildadisplay-regular1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sincopa';
    src: url('/fonts/SincopaNina.woff2') format('woff2'),
         url('/fonts/SincopaNina.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sincopaElla';
    src: url('/fonts/SincopaElla.woff2') format('woff2'),
         url('/fonts/SincopaElla.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}